#face {
    fill: #000;
    stroke-width: 4px;
    stroke: #8ae4db;
}
#hour, #min, #sec {
    stroke-width: 3px;
    fill: #8ae4db;
    stroke: #8ae4db;
    z-index: 1000;
}

#min {
  transform: rotate(60 50 50);
}

#sec {
    stroke: #f55;
}


.clock-img {
  position: absolute;
  z-index: 10000;
}

body {
  background-color: #000;
}

.background {
  background-color: #000;
  background-image: url("https://res.cloudinary.com/dzgjcfssi/image/upload/v1693070947/face_yhov5j.svg");
}